.content-well {
	max-width: 1010px !important;
	margin: 0 auto !important;
}

@media screen and (max-width: 1010px) {
	.content-well {
		margin: 0px 10px 0px 10px !important;
	}
}

@media screen and (max-width: 768px) {
	.content-well {
		padding: 0px 5px 0px 5px !important;
	}
}

.footnote-chart {
	font-size: 0.75rem !important;
	margin-bottom: 0px !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.footnote-second-chart {
	font-size: 0.75rem;
	margin-bottom: 0px;
	margin-top: 0px;
}

.bolded {
	font-weight: 700 !important;
}
